<!DOCTYPE html>
<html ng-app="django">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="django.js"></script>
</head>

<body>
  <div ng-controller="DjangoController as djCon">

    <div ng-repeat="item in 'first'.split('')">
      {{$index+1}}. {{item}}
    </div>

    <!--Display the details with static content handler-->
    <table class="table forum table-striped">
      <thead>
        <tr>
          <th>
          </th>
          <th class="cell-stat text-center ">Model</th>
          <th class="cell-stat text-center ">Status</th>
          <th class="cell-stat-2x ">Purchase on</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h4>
                <a href="#">{{djCon.ObjectArray[0].name}}</a>
                <br />
                <small>{{djCon.ObjectArray[0].email}}</small>
              </h4>
          </td>
          <td class="text-center ">
            <a href="#">{{djCon.ObjectArray[0].model}}</a>
          </td>
          <td class="text-center ">
            <a href="#">{{djCon.ObjectArray[0].status}}</a>
          </td>
          <td>
            <small>{{djCon.ObjectArray[0].purchasedate}}</small>
          </td>
        </tr>
      </tbody>
    </table>


    <!--Display the details with Dynamic content handler-->
    <table class="table forum table-striped">
      <thead>
        <tr>
          <th>
          </th>
          <th class="cell-stat text-center ">Model</th>
          <th class="cell-stat text-center ">Status</th>
          <th class="cell-stat-2x ">Purchase on</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="peoples in djCon.ObjectArray">
          <td>
            <h4>
                <a href="#">{{peoples.name}}</a>
                <br />
                <small>{{peoples.email}}</small>
              </h4>
          </td>
          <td class="text-center ">
            <a href="#">{{peoples.model}}</a>
          </td>
          <td class="text-center ">
            <a href="#">{{peoples.status}}</a>
          </td>
          <td>
            <small>{{peoples.purchasedate}}</small>
          </td>
        </tr>
      </tbody>
    </table>




  </div>
</body>

</html>
